:root {
  --main-blue-color: #263f77;
  --main-purple-color: #8692ea;
  --main-mint-color: #6ecec4;
  --main-section-color: #eee;
  --main-grey-text-color: #333;
}
html {
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
}
body {
  font-family: 'Nunito', sans-serif;
  font-family: 'Open Sans', sans-serif;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
.container {
  padding: 0px 15px;
  margin: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/*start navbar section*/
nav {
  box-shadow: 0px 0px 10px var(--main-section-color);
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 40;
  background-color: white;
}
nav .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .container .logo {
  display: flex;
  align-items: center;
  font-size: 26px;
  color: var(--main-blue-color);
  font-weight: bold;
  height: 72px;
}
nav .container .nav-icon {
  color: var(--main-blue-color);
  font-size: 25px;
}
nav .container .nav-icon:hover {
  cursor: pointer;
}
nav .container .nav-icon.active ~ ul {
  display: flex;
  width: 100%;
  flex-direction: column;
  position: absolute;
  top: 72px;
  left: 0px;
  z-index: 10;
  background-color: rgb(255 255 255 / 85%);
}
nav .container .nav-icon.active ~ ul li:not(:last-child) {
  border-bottom: 1px solid #ddd;
}
nav .container .nav-icon.active ~ ul li a::before {
  display: none;
}
@media (min-width: 1200px) {
  nav .container .nav-icon {
    display: none;
  }
}
nav ul {
  display: flex;
}
@media (max-width: 1200px) {
  nav ul {
    display: none;
  }
}
nav ul li a {
  color: var(--main-grey-text-color);
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 72px;
  position: relative;
  transition: 0.3s;
  font-size: 16px;
  text-transform: capitalize;
  text-align: center;
}
nav ul li a:hover {
  background-color: rgb(210, 210, 210);
  color: var(--main-blue-color);
}
nav ul li a::before {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  width: 0px;
  background-color: var(--main-blue-color);
  height: 5px;
  transition: 0.3s;
}
nav ul li a:hover::before {
  width: 100%;
}
/*end navbar section*/
/*start landing section*/
.landing {
  margin-top: 72px;
  height: calc(100vh - 72px);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.landing .container h1 {
  font-size: 100px;
  color: var(--main-blue-color);
}
@media (max-width: 767px) {
  .landing .container h1 {
    font-size: 80px;
  }
}
@media (max-width: 500px) {
  .landing .container h1 {
    font-size: 60px;
  }
}
.landing .container h2 {
  position: relative;
  font-size: 80px;
  font-weight: normal;
}
.landing .container h2::after {
  content: '';
  position: absolute;
  background-color: var(--main-blue-color);
  width: 5px;
  height: 80px;
  bottom: 10px;
  animation: blinkingCursor 1s steps(3) infinite;
  animation-delay: 1.86s;
}
@media (max-width: 767px) {
  .landing .container h2 {
    font-size: 60px;
  }
  .landing .container h2::after {
    height: 50px;
    width: 4px;
  }
}
@media (max-width: 500px) {
  .landing .container h2 {
    font-size: 40px;
  }
  .landing .container h2::after {
    height: 40px;
    width: 4px;
  }
}

.landing .container a i {
  position: absolute;
  bottom: 20px;
  transform: translateX(-50%);
  font-size: 40px;
  color: var(--main-blue-color);
  animation: arrow-down 2s infinite forwards;
}
@keyframes arrow-down {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
}
@keyframes blinkingCursor {
  0%,
  75% {
    opacity: 1;
  }
  76%,
  100% {
    opacity: 0;
  }
}
/*end landing section*/
/*start who are we section*/
.who-are-we {
  height: 100vh;
  background-image: url(../images/11098.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right bottom;
  position: relative;
  display: flex;
}
.who-are-we::before {
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(238, 238, 238, 0.9);
  position: absolute;
}
.who-are-we .container {
  position: relative;
}
.who-are-we .container h2 {
  margin: 0px;
  font-size: 50px;
  color: var(--main-blue-color);
  margin-bottom: 40px;
  position: relative;
}
.who-are-we .container h2::before {
  content: '';
  width: 200px;
  height: 5px;
  position: absolute;
  bottom: -20px;
  background-color: white;
}
@media (max-width: 767px) {
  .who-are-we .container h2 {
    font-size: 40px;
  }
}
@media (max-width: 500px) {
  .who-are-we .container h2 {
    font-size: 30px;
  }
}
.who-are-we .container p {
  color: var(--main-blue-color);
  margin: 0px;
  font-size: 20px;
  line-height: 1.7;
  max-width: 500px;
}
@media (max-width: 767px) {
  .who-are-we .container p {
    font-size: 18px;
  }
}
.who-are-we .container p span {
  font-weight: bold;
}
/*end who are we section*/
/*start our vision and mission section*/
.our-vision-and-mission {
  padding-top: 80px;
  padding-bottom: 80px;
}
.our-vision-and-mission .container {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width: 992px) {
  .our-vision-and-mission .container {
    gap: 30px;
  }
}
.our-vision-and-mission .container .box {
  position: relative;
  width: calc(50% - 10px);
  padding-left: 20px;
  border-left: 5px solid var(--main-mint-color);
}
@media (max-width: 992px) {
  .our-vision-and-mission .container .box {
    width: 100%;
  }
}
.our-vision-and-mission .container .box h2 {
  color: var(--main-blue-color);
  font-size: 30px;
}
.our-vision-and-mission .container .box p {
  color: var(--main-blue-color);
  line-height: 1.7;
  font-size: 18px;
}
/*end our vision and mission section*/
/*start our values*/
.our-values {
  background-color: var(--main-section-color);
  padding-top: 100px;
  padding-bottom: 50px;
}
.our-values h2 {
  position: relative;
  font-size: 30px;
  text-align: center;
  color: var(--main-blue-color);
  margin-bottom: 80px;
  margin-top: 0px;
}
.our-values h2::after {
  content: '';
  position: absolute;
  background-color: white;
  height: 5px;
  width: 100px;
  bottom: -25px;
  left: 50%;
  transform: translateX(-50%);
}
.our-values .wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 40px;
}
.our-values .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.our-values .box img {
  width: 50px;
}
.our-values .box span {
  font-weight: bold;
  text-transform: capitalize;
  color: var(--main-grey-text-color);
}
/*end our values*/
/*start testimonials*/
.testimonials-section {
  padding-top: 100px;
  padding-bottom: 110px;
}
.testimonials-section h2 {
  color: var(--main-blue-color);
  font-size: 30px;
  position: relative;
  text-align: center;
  margin-top: 0;
  margin-bottom: 80px;
}

.testimonials-section h2::after {
  content: '';
  height: 5px;
  width: 100px;
  background-color: var(--main-mint-color);
  position: absolute;
  bottom: -25px;
  left: 50%;
  transform: translateX(-50%);
}
.testimonials-section .container {
  display: flex;
  justify-content: center;
}
.testimonials-section .container .slider-container {
  max-width: 700px;
  width: 100%;
  border-radius: 10px;
  box-shadow: -10px 10px 40px rgba(0, 0, 0, 0.25);
}
.testimonials-section .container .slider-container .testimonials {
  display: flex;
  overflow: hidden;
}
.testimonials-section .container .slider-container .testimonial {
  width: 100%;
  min-width: 100%;
  padding: 60px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: var(--main-grey-text-color);
  font-size: 18px;
}
.testimonials-section .container .slider-container .testimonial .content {
  position: relative;
  line-height: 1.7;
}
.testimonials-section
  .container
  .slider-container
  .testimonial
  .content::before {
  content: '\f10d';
  font-family: 'Font Awesome 6 Free';
  font-weight: 900;
  position: absolute;
  top: -65px;
  left: -25px;
  z-index: -1;
  color: var(--main-grey-text-color);
  opacity: 0.1;
  font-size: 80px;
}
.testimonials-section .container .slider-container .testimonial .details {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.testimonials-section .container .slider-container .testimonial .details .name {
  font-weight: bold;
  position: relative;
}
.testimonials-section
  .container
  .slider-container
  .testimonial
  .details
  .name::before {
  content: '-';
  position: absolute;
  left: -10px;
}
.testimonials-section .container .slider-container .testimonial .details .job {
  font-size: 14px;
}
.testimonials-section .container .slider-bar {
  width: 100%;
  height: 60px;
  background-color: var(--main-blue-color);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.testimonials-section .container .slider-bar .arrow-icon {
  color: var(--main-blue-color);
  background-color: var(--main-section-color);
  border-radius: 50%;
  padding: 10px;
  font-size: 25px;
}
.testimonials-section .container .slider-bar .arrow-icon:hover {
  cursor: pointer;
}
/*end testimonials*/
/*start need help*/
.need-help {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: var(--main-section-color);
}
.need-help h2 {
  text-align: center;
  color: var(--main-blue-color);
  font-size: 30px;
  position: relative;
  margin-top: 0;
  margin-bottom: 80px;
}
.need-help h2::after {
  content: '';
  height: 5px;
  width: 100px;
  background-color: white;
  position: absolute;
  bottom: -25px;
  left: 50%;
  transform: translateX(-50%);
}
.need-help .container p {
  text-align: center;
  color: var(--main-grey-text-color);
  font-size: 22px;
}
.need-help .container .wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.need-help .container .wrapper .box {
  display: flex;
  gap: 10px;
}
.need-help .container .wrapper .box .specialization {
  background-color: var(--main-blue-color);
  padding: 10px;
  color: white;
  border-radius: 5px;
  display: inline-block;
  width: 150px;
}
.need-help .container .wrapper .box .name {
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  color: var(--main-blue-color);
  width: 100%;
}
/*end need help*/
